@import url("https://fonts.googleapis.com/css2?family=Manrope&family=PT+Sans:wght@400;700&family=Work+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-family: "Work Sans", sans-serif;
  color: #111111;
}
.registration-form-field {
  display: flex;
  flex-direction: column;
  width: calc((100% - 13px) / 2);
  border-bottom: 1px solid #f2f2f2;
  transition: 0.3s border-color;
  position: relative;
  opacity: 0;
  animation: appear 0.5s forwards;
  animation-delay: var(--appearanceDelay);
}
.registration-form-field.without-border {
  border-bottom: none;
}
.registration-form-field label {
  font-size: 12px;
  line-height: 14px;
  color: #7c7c7c;
  letter-spacing: -0.3px;
  transition: 0.3s;
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
.registration-form-field input,
.registration-form-field select {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 5px 0 4px;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 16px;
  height: 18px;
  outline: none;
  position: relative;
  accent-color: #5a61ed;
}
.without-border .registration-form-field input,
.without-border .registration-form-field select {
  margin-bottom: 6px;
}
.registration-form-field select:first-of-type {
  margin-left: -2.5px;
}
.registration-form-field .group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.registration-form-field .group > label {
  border-bottom: 1px solid #f2f2f2;
  transition: 0.3s border-color;
}
.registration-form-field .group > label:focus-within {
  border-color: #5a61ed;
}
.registration-form-field .radio {
  display: flex;
  width: 100%;
  align-items: center;
}
.registration-form-field .radio label {
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #111111;
  font-size: 14px;
}
.registration-form-field .radio label input {
  margin-right: 6px;
}
.registration-form-field .radio label + label {
  margin-left: 20px;
}
.registration-form-field .alert-message,
.registration-form-field .req-message {
  pointer-events: none;
  background-color: #f2dede;
  color: #ff2222;
  border-radius: 3px;
  position: absolute;
  bottom: 100%;
  left: 0;
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 0 10px;
  overflow: hidden;
  background: #292f35;
  transition: transform 0.3s;
  transform: scaleY(0);
  transform-origin: bottom;
}
.registration-form-field .alert-message .point,
.registration-form-field .req-message .point {
  color: #ff2222;
}
.registration-form-field .alert-message .point.correct,
.registration-form-field .req-message .point.correct {
  color: green;
}
.registration-form-field:focus-within .req-message {
  transform: scaleY(1);
}
.registration-form-field[aria-invalid=true] {
  border-bottom: 2px solid #ff2222;
}
.registration-form-field[aria-invalid=true] input {
  color: #ff2222;
  margin-bottom: 3px;
}
.registration-form-field[aria-invalid=true] .alert-message {
  transform: scaleY(1);
}
.registration-form-field:focus-within, .registration-form-field:focus-within[aria-invalid=true] {
  border-bottom: 1px solid #5a61ed;
}
.registration-form-field:focus-within input, .registration-form-field:focus-within[aria-invalid=true] input {
  color: #111111;
  margin-bottom: 4px;
}
.registration-form-field:focus-within .alert-message, .registration-form-field:focus-within[aria-invalid=true] .alert-message {
  transform: scaleY(0);
}
.registration-form-field:focus-within label {
  color: #5a61ed;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.registration-form-field, body .registration-form .main-form .row .form-field {
  display: flex;
  flex-direction: column;
  width: calc((100% - 13px) / 2);
  border-bottom: 1px solid #f2f2f2;
  transition: 0.3s border-color;
  position: relative;
  opacity: 0;
  animation: appear 0.5s forwards;
  animation-delay: var(--appearanceDelay);
}
.registration-form-field.without-border, body .registration-form .main-form .row .without-border.form-field {
  border-bottom: none;
}
.registration-form-field label, body .registration-form .main-form .row .form-field label {
  font-size: 12px;
  line-height: 14px;
  color: #7c7c7c;
  letter-spacing: -0.3px;
  transition: 0.3s;
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
.registration-form-field input, body .registration-form .main-form .row .form-field input,
.registration-form-field select,
body .registration-form .main-form .row .form-field select {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 5px 0 4px;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 16px;
  height: 18px;
  outline: none;
  position: relative;
  accent-color: #5a61ed;
}
.without-border .registration-form-field input, .without-border body .registration-form .main-form .row .form-field input, body .registration-form .main-form .row .without-border .form-field input,
.without-border .registration-form-field select,
.without-border body .registration-form .main-form .row .form-field select,
body .registration-form .main-form .row .without-border .form-field select {
  margin-bottom: 6px;
}
.registration-form-field select:first-of-type, body .registration-form .main-form .row .form-field select:first-of-type {
  margin-left: -2.5px;
}
.registration-form-field .group, body .registration-form .main-form .row .form-field .group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.registration-form-field .group > label, body .registration-form .main-form .row .form-field .group > label {
  border-bottom: 1px solid #f2f2f2;
  transition: 0.3s border-color;
}
.registration-form-field .group > label:focus-within, body .registration-form .main-form .row .form-field .group > label:focus-within {
  border-color: #5a61ed;
}
.registration-form-field .radio, body .registration-form .main-form .row .form-field .radio {
  display: flex;
  width: 100%;
  align-items: center;
}
.registration-form-field .radio label, body .registration-form .main-form .row .form-field .radio label {
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #111111;
  font-size: 14px;
}
.registration-form-field .radio label input, body .registration-form .main-form .row .form-field .radio label input {
  margin-right: 6px;
}
.registration-form-field .radio label + label, body .registration-form .main-form .row .form-field .radio label + label {
  margin-left: 20px;
}
.registration-form-field .alert-message, body .registration-form .main-form .row .form-field .alert-message,
.registration-form-field .req-message,
body .registration-form .main-form .row .form-field .req-message {
  pointer-events: none;
  background-color: #f2dede;
  color: #ff2222;
  border-radius: 3px;
  position: absolute;
  bottom: 100%;
  left: 0;
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 0 10px;
  overflow: hidden;
  background: #292f35;
  transition: transform 0.3s;
  transform: scaleY(0);
  transform-origin: bottom;
}
.registration-form-field .alert-message .point, body .registration-form .main-form .row .form-field .alert-message .point,
.registration-form-field .req-message .point,
body .registration-form .main-form .row .form-field .req-message .point {
  color: #ff2222;
}
.registration-form-field .alert-message .point.correct, body .registration-form .main-form .row .form-field .alert-message .point.correct,
.registration-form-field .req-message .point.correct,
body .registration-form .main-form .row .form-field .req-message .point.correct {
  color: green;
}
.registration-form-field:focus-within .req-message, body .registration-form .main-form .row .form-field:focus-within .req-message {
  transform: scaleY(1);
}
.registration-form-field[aria-invalid=true], body .registration-form .main-form .row [aria-invalid=true].form-field {
  border-bottom: 2px solid #ff2222;
}
.registration-form-field[aria-invalid=true] input, body .registration-form .main-form .row [aria-invalid=true].form-field input {
  color: #ff2222;
  margin-bottom: 3px;
}
.registration-form-field[aria-invalid=true] .alert-message, body .registration-form .main-form .row [aria-invalid=true].form-field .alert-message {
  transform: scaleY(1);
}
.registration-form-field:focus-within, body .registration-form .main-form .row .form-field:focus-within, .registration-form-field:focus-within[aria-invalid=true] {
  border-bottom: 1px solid #5a61ed;
}
.registration-form-field:focus-within input, body .registration-form .main-form .row .form-field:focus-within input, .registration-form-field:focus-within[aria-invalid=true] input {
  color: #111111;
  margin-bottom: 4px;
}
.registration-form-field:focus-within .alert-message, body .registration-form .main-form .row .form-field:focus-within .alert-message, .registration-form-field:focus-within[aria-invalid=true] .alert-message {
  transform: scaleY(0);
}
.registration-form-field:focus-within label, body .registration-form .main-form .row .form-field:focus-within label {
  color: #5a61ed;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  min-height: 100vh;
  background-color: #f4f5fc;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  body {
    padding: 20px;
  }
}
body .registration-form {
  width: 665px;
  height: 481px;
  margin: 0 auto;
  background-color: white;
  display: flex;
}
@media (max-width: 700px) {
  body .registration-form {
    height: unset;
    flex-direction: column;
  }
}
body .registration-form .form-name {
  background-color: #5a61ed;
  width: 138px;
  position: relative;
}
body .registration-form .form-name h1 {
  font-family: "PT Sans", sans-serif;
  position: absolute;
  font-size: 49px;
  line-height: 63px;
  font-weight: 400;
  letter-spacing: 0.5px;
  writing-mode: vertical-lr;
  color: #ffffff;
  bottom: 22px;
  left: 70px;
  transform: rotate(-180deg);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-height: 80%;
  max-width: 100%;
}
@media (max-width: 700px) {
  body .registration-form .form-name {
    width: unset;
  }
  body .registration-form .form-name h1 {
    position: static;
    writing-mode: initial;
    transform: none;
    padding: 10px;
  }
}
body .registration-form .main-form {
  padding: 39px 22px 33px 20px;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: calc(100% - 138px);
}
body .registration-form .main-form .background {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}
body .registration-form .main-form .background img {
  display: block;
}
body .registration-form .main-form .background::after {
  content: " ";
  display: block;
  background: white;
  height: 200%;
  width: 200%;
  bottom: 0;
  right: 0;
  transform: rotate(0deg);
  transform-origin: bottom right;
  position: absolute;
  animation: bg-user 3.5s forwards ease-in;
}
body .registration-form .main-form .header {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.46px;
  margin-top: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
body .registration-form .main-form .sub-header {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  letter-spacing: -0.35px;
  font-weight: 400;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 450px;
}
body .registration-form .main-form .row {
  display: flex;
  margin-top: 16px;
}
body .registration-form .main-form .row .form-field {
  z-index: 1;
}
body .registration-form .main-form .row .form-field + .form-field {
  margin-left: 13px;
}
@media (max-width: 700px) {
  body .registration-form .main-form .row {
    flex-direction: column;
  }
  body .registration-form .main-form .row .form-field {
    margin-top: 13px;
  }
  body .registration-form .main-form .row .form-field + .form-field {
    margin-left: 0;
  }
}
body .registration-form .main-form .footer {
  margin-top: auto;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body .registration-form .main-form .footer span {
  letter-spacing: -0.2px;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 11px;
  display: block;
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 50%;
}
body .registration-form .main-form .footer span a {
  color: #5a61ed;
}
body .registration-form .main-form .footer .submit {
  height: 32px;
  border-radius: 0;
  border: 0;
  outline: none;
  color: white;
  background-color: #5a61ed;
  width: 154px;
  margin-right: -1px;
  font-size: 14px;
  cursor: pointer;
}
body .registration-form .main-form .footer .submit:hover, body .registration-form .main-form .footer .submit:focus-visible {
  background-color: #000dff;
}
body .registration-form .main-form .footer .submit:active {
  background-color: rgba(90, 97, 237, 0.3960784314);
}
body .registration-form .main-form .footer .submit.shake {
  animation: shake 0.3s;
  animation-iteration-count: 2;
}
@media (max-width: 700px) {
  body .registration-form .main-form .footer {
    flex-direction: column;
  }
}
body .registration-form .main-form .thanks {
  padding-left: 43px;
  margin-top: 178px;
}
body .registration-form .main-form .thanks h2 {
  margin: 0;
  letter-spacing: -1.3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
body .registration-form .main-form .thanks p {
  font-size: 14px;
  line-height: 16px;
  margin-top: 9px;
  letter-spacing: -0.3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes bg-user {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}