@import url("https://fonts.googleapis.com/css2?family=Manrope&family=PT+Sans:wght@400;700&family=Work+Sans:wght@300;400&display=swap");
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
	font-family: "Work Sans", sans-serif;
	color: #111111;
}
