@import "form-field";
body {
	min-height: 100vh;
	background-color: #f4f5fc;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 700px) {
		padding: 20px;
	}
	.registration-form {
		width: 665px;
		height: 481px;
		margin: 0 auto;
		background-color: white;
		display: flex;
		@media (max-width: 700px) {
			height: unset;
			flex-direction: column;
		}

		.form-name {
			background-color: #5a61ed;
			width: 138px;
			position: relative;

			h1 {
				font-family: "PT Sans", sans-serif;
				position: absolute;
				font-size: 49px;
				line-height: 63px;
				font-weight: 400;
				letter-spacing: 0.5px;
				writing-mode: vertical-lr;
				color: #ffffff;
				bottom: 22px;
				left: 70px;
				transform: rotate(-180deg);
			}
			@media (max-width: 700px) {
				width: unset;
				h1 {
					position: static;
					writing-mode: initial;
					transform: none;
					padding: 10px;
				}
			}
		}
		.main-form {
			padding: 39px 22px 33px 20px;
			position: relative;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			.background {
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: 0;
				pointer-events: none;
			}
			.header {
				font-size: 22px;
				line-height: 25px;
				letter-spacing: -0.46px;
				margin-top: 1px;
			}
			.sub-header {
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0px;
				letter-spacing: -0.35px;
				font-weight: 400;
				margin-bottom: 4px;
			}
			.row {
				display: flex;
				margin-top: 16px;
				.form-field {
					@extend .registration-form-field;
					z-index: 1;
					& + .form-field {
						margin-left: 13px;
					}
				}
				@media (max-width: 700px) {
					flex-direction: column;
					.form-field {
						margin-top: 13px;
						& + .form-field {
							margin-left: 0;
						}
					}
				}
			}
			.footer {
				margin-top: auto;
				z-index: 1;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				span {
					letter-spacing: -0.2px;
					font-size: 13px;
					line-height: 15px;
					margin-bottom: 11px;
					display: block;
					height: fit-content;
					a {
						color: #5a61ed;
					}
				}
				.submit {
					height: 32px;
					border-radius: 0;
					border: 0;
					outline: none;
					color: white;
					background-color: #5a61ed;
					width: 154px;
					margin-right: -1px;
					font-size: 14px;
					cursor: pointer;
					&:hover,
					&:focus {
						background-color: #000dff;
					}
					&:active {
						background-color: #5a61ed65;
					}
				}
				@media (max-width: 700px) {
					flex-direction: column;
				}
			}
			.thanks {
				padding-left: 43px;
				margin-top: 178px;
				h2 {
					margin: 0;
					letter-spacing: -1.3px;
				}
				p {
					font-size: 14px;
					line-height: 16px;
					margin-top: 9px;
					letter-spacing: -0.3px;
				}
			}
		}
	}
}
